footer.footer
	.container
		.footer-top
			.footer-column
				a(href="index.html").footer-heading.footer-heading--logo MoGo
				p.footer-desc.text.text--normal Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea reiciendis magnam voluptatem maxime reprehenderit incidunt expedita commodi facere saepe, assumenda repellat voluptas animi impedit odio corporis adipisci, nobis a quidem.
				p.footer-follower <strong>15k</strong> follower
				.footer-social
					span Follow us:
					.footer-social-list
						a.footer-social-icon(href="#")
							i.fab.fa-facebook
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
						a.footer-social-icon(href="#")
							i.fab.fa-dribbble
						a.footer-social-icon(href="#")
							i.fab.fa-tumblr
						a.footer-social-icon(href="#")
							i.fab.fa-google-plus
				form(action="javascript:void(0)").footer-form
					input(type="email" placeholder="Your Email...").footer-form-input
					button.footer-form-button Subscribe
			.footer-column
				h3.footer-heading Blogs
				a(href="#").footer-blog
					img.footer-blog-image(src="https://images.unsplash.com/photo-1654704092168-fa4ca600704f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						span.footer-blog-time.text.text--light Jan 9, 2022
				a(href="#").footer-blog
					img.footer-blog-image(src="https://images.unsplash.com/photo-1654704092211-dd7c1075d13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						span.footer-blog-time.text.text--light Jan 9, 2022
				a(href="#").footer-blog
					img.footer-blog-image(src="https://images.unsplash.com/photo-1654704091808-2bab069c6eaa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80")
					.footer-blog-info
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						span.footer-blog-time.text.text--light Jan 9, 2022
			.footer-column
				h3.footer-heading Instagram
				.footer-images
					.footer-image
						img(src="https://images.unsplash.com/photo-1627077359800-81c77a9c1f90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1626290131022-4e5a5e167173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1621708206243-a2808f979adc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1621708213101-f58300b196d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1600982274953-f49ff3702b9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1600199712217-812672421f0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1597863355612-c63a1a9eed80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1588876458835-55e0582f66f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80", alt="")
					.footer-image
						img(src="https://images.unsplash.com/photo-1587582036175-93076c30b5e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80", alt="")
				a(href="#").footer-images-more.text.text--light View more photos
		.footer-bottom &copy; 2022 MoGo free PSD template by <span> Laaqiq</span>