section.quote
	.container
		.quote-container
			i.fal.fa-angle-left.quote-arrow-left.quote-arrow
			.quote-content
				.quote-icon
					img(src="../images/img-quote.png")
				.quote-info
					p.quote-desc "Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat deleniti. Dicta fugiat, eligendi eaque odit voluptate voluptatum repellat, alias dolor sit corrupti dolores, consequatur adipisci deserunt facere repellendus praesentium?"
					p.quote-author Alan Tran
			i.fal.fa-angle-right.quote-arrow-right.quote-arrow