section.team
	.container
		+blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.team-list
			+teamItem("images/img-team1.png","Christopher CambellChristopher CambellChristopher CambellChristopher CambellChristopher Cambell", "Branding/UX design")
				+teamSocial("/facebook1","/twitter1")
			+teamItem("images/img-team2.png","Christopher Cambell", "Branding/UX design")
				+teamSocial("/facebook2","/twitter2")
			+teamItem("images/img-team3.png","Christopher Cambell", "Branding/UX design")
				+teamSocial("/facebook3","/twitter3")
section.branch
	.container
		img(src="images/img-logos.png")