section.team
	.container
		+blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.team-list
			+teamItem("https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80","Christopher Cambell", "Branding/UX design")
				+teamSocial("/facebook/cris-cambell","/twitter/cri-cambell")
			+teamItem("https://images.unsplash.com/photo-1591084728795-1149f32d9866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80","Geogre Nguyen", "Acocunt Manager")
				+teamSocial("/facebook/geogre","/twitter/geogre")
			+teamItem("https://images.unsplash.com/photo-1605949405965-d49ada3f9189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80","Henry Tran", "CO & Founder MoGo")
				+teamSocial("/facebook/henry","/twitter/henry")
section.branch
	.container
		img(src="images/img-logos.png")